body {
    margin:0;
    padding:0;
}
.main{
        float:left;
        display:table;
        width:100%;
        height:100%;
        min-width:1024px;
        min-height:585px;
        margin:auto;
        text-align:center;
    }
    .main .registerFrame{
            display:table-cell;
            vertical-align:middle;
            margin-left:auto;
           margin-right:auto;
           width:999px;
           height:349px;  
        }
 

 
        .main .registerFrame .inputBox{
                float:none;
                width:352px;
                height:190px;
                margin:0 auto;
                text-align:center;
            }
            .main .registerFrame .inputBox .box{
                    float:none;
                    width:352px;
                    height:40px;
                    margin-top:10px;
                    background-color:#ffffff;
                    border:#d8d8d8 1px solid;
                }
                .main .registerFrame .inputBox .box .textBox{
                        border-style:none;
                        width:349px;
                        height:37px;
                        line-height:37px;
                        font-size:18px;
                       /*border-radius:6px;*/
                    }
          
        .main .registerFrame .Button{
            width:132px;
            height:42px;
            float:inherit;
            }         
                    
